<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <span class="app-title">Fake Products App</span>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">
        <span class="menu-item">
          <mat-icon class="icon">home</mat-icon>
          <span class="text">Home</span>
        </span>
      </a>

      <a mat-list-item [routerLink]="['/products']">
        <span class="menu-item">
          <mat-icon class="icon">shopping_bag</mat-icon>
          <span class="text">Products</span>
        </span>
      </a>

      <a mat-list-item (click)="openGitHub()" (keydown)="openGitHub()" tabindex="0">
        <span class="menu-item">
          <mat-icon class="icon">hub</mat-icon>
          <span class="text">GitHub Code</span>
        </span>
      </a>

      <a mat-list-item (click)="openPdf()" (keydown)="openPdf()" tabindex="0">
        <span class="menu-item">
          <mat-icon class="icon">description</mat-icon>
          <span class="text">Readme</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>